In [1]:
import pandas as pd

In [140]:
services = pd.read_csv('/Users/likit/Downloads/NAFLD-data/Services2011.csv')

In [141]:
services = services.set_index('cmsCode')

In [143]:
physical_exam_df = pd.read_csv('/Users/likit/Downloads/NAFLD-data/Physical2011.csv')

In [145]:
physical_exam_df = physical_exam_df.set_index('ServiceNo')

In [149]:
tg = pd.read_csv('/Users/likit/Downloads/NAFLD-data/TG2011.csv')

In [150]:
tg = tg.set_index('ServiceNo')

In [146]:
hdl = pd.read_csv('/Users/likit/Downloads/NAFLD-data/HDLC2011.csv')

In [147]:
hdl = hdl.set_index('ServiceNo')

In [197]:
ua = pd.read_csv('/Users/likit/Downloads/NAFLD-data/UA2011.csv')
ua = ua.set_index('ServiceNo')

In [151]:
customer_df = pd.read_csv('/Users/likit/Downloads/NAFLD-data/EmployeeAll.csv')

In [152]:
customer_df = customer_df.set_index('cmsCode')

In [153]:
customer_df

         CustID   age  sex
cmsCode
2          74.0  44.0  1.0
3          74.0  50.0  2.0
4          74.0  47.0  2.0
5          74.0  56.0  1.0
6          74.0  45.0  2.0
...         ...   ...  ...
158380    113.0  31.0  2.0
158381    113.0  32.0  2.0
158382    113.0  32.0  2.0
158383    113.0  31.0  1.0
158384    113.0  28.0  1.0

[147731 rows x 3 columns]

In [198]:
dataset = services.join(customer_df, on='cmsCode')

In [199]:
len(dataset)

18645

In [200]:
dataset = dataset.set_index('ServiceNo')

In [201]:
dataset = dataset.join(physical_exam_df).join(hdl, rsuffix='_hdl').join(tg, rsuffix='_tg').join(ua)

In [202]:
dataset

,ServiceDate,CustID,age,sex,cmsCode,Weight,Height,HeartRate,Systolic,Diastolic,BMI,TCode,TestResult,ServiceDate_hdl,TCode_tg,TestResult_tg,ServiceDate_tg,UA
ServiceNo,,,,,,,,,,,,,,,,,,
201101050001,5/1/2011 0:00,225.0,59.0,2.0,38468.0,81.8,159,78,150,96.0,32.35631502,HDLC,56.4,5/1/2011 12:00 AM,TG,115.0,5/1/2011 12:00 AM,5.04
201101050002,5/1/2011 0:00,225.0,55.0,2.0,0.0,53.7,156,72,120,70.0,22.06607495,HDLC,73.7,5/1/2011 12:00 AM,TG,141.0,5/1/2011 12:00 AM,3.82
201101050003,5/1/2011 0:00,225.0,60.0,2.0,0.0,57.2,156,72,110,70.0,23.5042735,HDLC,77.5,5/1/2011 12:00 AM,TG,69.0,5/1/2011 12:00 AM,5.01
201101050004,5/1/2011 0:00,225.0,55.0,2.0,0.0,60,157,76,120,80.0,24.34175829,HDLC,77.9,5/1/2011 12:00 AM,TG,79.0,5/1/2011 12:00 AM,2.83
201101050005,5/1/2011 0:00,225.0,59.0,1.0,0.0,79.6,171.5,68,130,70.0,27.06355345,HDLC,60.4,5/1/2011 12:00 AM,TG,94.0,5/1/2011 12:00 AM,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201112280127,28/12/2011 0:00,216.0,30.0,1.0,0.0,67,171,64,130,80.0,22.91303307,HDLC,37.3,28/12/2011 12:00 AM,TG,101.0,28/12/2011 12:00 AM,6.28
201112280128,28/12/2011 0:00,216.0,41.0,1.0,0.0,51,163,80,130,80.0,19.1953028,HDLC,68,28/12/2011 12:00 AM,TG,55.0,28/12/2011 12:00 AM,4.56
201112280129,28/12/2011 0:00,216.0,38.0,1.0,0.0,69.7,161,70,110,70.0,26.8893947,HDLC,41.8,28/12/2011 12:00 AM,TG,97.0,28/12/2011 12:00 AM,6.34
201112280130,28/12/2011 0:00,216.0,27.0,1.0,0.0,81,169.5,72,130,80.0,28.1932806,HDLC,45.2,28/12/2011 12:00 AM,TG,84.0,28/12/2011 12:00 AM,6.12
201112280131,28/12/2011 0:00,216.0,45.0,1.0,0.0,63,163,64,110,70.0,23.71184463,HDLC,49,28/12/2011 12:00 AM,TG,71.0,28/12/2011 12:00 AM,5.76

In [203]:
del dataset['ServiceDate_hdl']
del dataset['ServiceDate_tg']
del dataset['TCode_tg']

In [204]:
dataset

,ServiceDate,CustID,age,sex,cmsCode,Weight,Height,HeartRate,Systolic,Diastolic,BMI,TCode,TestResult,TestResult_tg,UA
ServiceNo,,,,,,,,,,,,,,,
201101050001,5/1/2011 0:00,225.0,59.0,2.0,38468.0,81.8,159,78,150,96.0,32.35631502,HDLC,56.4,115.0,5.04
201101050002,5/1/2011 0:00,225.0,55.0,2.0,0.0,53.7,156,72,120,70.0,22.06607495,HDLC,73.7,141.0,3.82
201101050003,5/1/2011 0:00,225.0,60.0,2.0,0.0,57.2,156,72,110,70.0,23.5042735,HDLC,77.5,69.0,5.01
201101050004,5/1/2011 0:00,225.0,55.0,2.0,0.0,60,157,76,120,80.0,24.34175829,HDLC,77.9,79.0,2.83
201101050005,5/1/2011 0:00,225.0,59.0,1.0,0.0,79.6,171.5,68,130,70.0,27.06355345,HDLC,60.4,94.0,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201112280127,28/12/2011 0:00,216.0,30.0,1.0,0.0,67,171,64,130,80.0,22.91303307,HDLC,37.3,101.0,6.28
201112280128,28/12/2011 0:00,216.0,41.0,1.0,0.0,51,163,80,130,80.0,19.1953028,HDLC,68,55.0,4.56
201112280129,28/12/2011 0:00,216.0,38.0,1.0,0.0,69.7,161,70,110,70.0,26.8893947,HDLC,41.8,97.0,6.34
201112280130,28/12/2011 0:00,216.0,27.0,1.0,0.0,81,169.5,72,130,80.0,28.1932806,HDLC,45.2,84.0,6.12
201112280131,28/12/2011 0:00,216.0,45.0,1.0,0.0,63,163,64,110,70.0,23.71184463,HDLC,49,71.0,5.76

In [205]:
dataset = dataset.rename(columns={'TestResult': 'HDL', 'TestResult_tg': 'TG'})

In [206]:
del dataset['TCode']

In [207]:
dataset

,ServiceDate,CustID,age,sex,cmsCode,Weight,Height,HeartRate,Systolic,Diastolic,BMI,HDL,TG,UA
ServiceNo,,,,,,,,,,,,,,
201101050001,5/1/2011 0:00,225.0,59.0,2.0,38468.0,81.8,159,78,150,96.0,32.35631502,56.4,115.0,5.04
201101050002,5/1/2011 0:00,225.0,55.0,2.0,0.0,53.7,156,72,120,70.0,22.06607495,73.7,141.0,3.82
201101050003,5/1/2011 0:00,225.0,60.0,2.0,0.0,57.2,156,72,110,70.0,23.5042735,77.5,69.0,5.01
201101050004,5/1/2011 0:00,225.0,55.0,2.0,0.0,60,157,76,120,80.0,24.34175829,77.9,79.0,2.83
201101050005,5/1/2011 0:00,225.0,59.0,1.0,0.0,79.6,171.5,68,130,70.0,27.06355345,60.4,94.0,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201112280127,28/12/2011 0:00,216.0,30.0,1.0,0.0,67,171,64,130,80.0,22.91303307,37.3,101.0,6.28
201112280128,28/12/2011 0:00,216.0,41.0,1.0,0.0,51,163,80,130,80.0,19.1953028,68,55.0,4.56
201112280129,28/12/2011 0:00,216.0,38.0,1.0,0.0,69.7,161,70,110,70.0,26.8893947,41.8,97.0,6.34
201112280130,28/12/2011 0:00,216.0,27.0,1.0,0.0,81,169.5,72,130,80.0,28.1932806,45.2,84.0,6.12
201112280131,28/12/2011 0:00,216.0,45.0,1.0,0.0,63,163,64,110,70.0,23.71184463,49,71.0,5.76

In [208]:
dataset.to_csv('2011-2012-health-data.csv')